@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: "SFProDisplay";
  src: url("/fonts/SFPro/SFProDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("/fonts/SFPro/SFProDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SFProText";
  src: url("/fonts/SFPro/SFProText-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

.slider {
  width: 40%;
  border-radius: 50px;
  margin-right: 30px !important;
}
.slider__item {
  row-gap: 10px;
  width: 350px !important;
  row-gap: 10px !important;
}
.card {
  width: 390px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px;
  transition: box-shadow 0.5s ease;
  height: 500px;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-image {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.card-content {
  padding: 16px;
  background: white;
}

/* FOOTER ---------------------------------------------------------FOOTER */

/* Base styles */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #df1780;
  color: white;
  padding: 20px;
  text-align: center;
}

.footer h1 {
  font-size: 5vw; /* Adjusts size based on the screen width */
  font-weight: 860;
}

.footer .button {
  background-color: white;
  color: #df1780;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 2vw;
  margin-top: 20px;
}

.footer .logo {
  width: 15vw; /* Adjust size based on screen width */
  margin-top: 20px;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
  }

  .footer h1 {
    font-size: 7vw;
  }

  .footer .button {
    font-size: 3vw;
  }

  .footer .logo {
    width: 25vw;
  }
  .card {
    width: 162.59px !important; /* Adjust the width to be a percentage of the screen */
    margin: 10px;
    height: 236.8px !important; /* Smaller margin on mobile */
  }
  .card-image {
    width: 162.59px;
    height: 125.07px;
    object-fit: cover;
    border-radius: 4.17px, 4.17px, 0px, 0px;
  }
}

@media (max-width: 480px) {
  .footer h1 {
    font-size: 9vw;
  }

  .footer .button {
    font-size: 4vw;
  }
  .card {
    width: 390px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px;
    transition: box-shadow 0.5s ease;
    height: 450px;
  }
  .card {
    width: 162.59px !important; /* Adjust the width to be a percentage of the screen */
    margin: 20px !important;
    height: 236.8px !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important; /* Smaller margin on mobile */
    align-items: center !important;
  }
  .card-image {
    width: 162.59px;
    height: 125.07px;
    object-fit: cover;
    border-radius: 4.17px, 4.17px, 0px, 0px;
  }
}

body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
.hide {
  visibility: hidden;
}
.show {
  visibility: visible;
}
.section {
  position: sticky;
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.hero-container {
  height: 450vh;
}
.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.video-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  object-fit: cover;
}

.hero-subtitle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
}
.subtitle-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-rows {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.hero-row-text {
  font-size: 3.8rem;
  color: white;
  font-weight: 860;
  font-family: sans-serif;
  letter-spacing: -0.085459375rem;
}

@media (max-width: 768px) {
  .hero-row-text {
    font-size: 1.8rem;
  }
}
.hero-bottom {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
}
.gif-container {
  color: white;
  font-size: 48px;
  text-align: right;
}
.scroll-arrow {
  color: white;
  font-size: 48px;
}
.centered-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.card-section-container {
  max-width: 37.2rem;
  grid-column-gap: 6.25rem;
  grid-row-gap: 1.67rem;
  flex-direction: column;
  align-self: flex-start;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  justify-items: center;
}
.button {
  align-items: center;
  padding: 1.11rem 1.67rem;
  display: flex;
  justify-content: space-between;
  border-color: black;
  border: 2px solid;
  width: 150px;
  height: 10px;
}
.title-lines {
  font-family: sans-serif;
  font-size: 58px;
  font-weight: 860;
  line-height: 69.6px;
  text-align: left;
}

@media (max-width: 768px) {
  .title-lines {
    font-family: sans-serif;
    font-size: 28px;
    line-height: 30px;
    font-weight: 860;
  }
}

.container {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10rem;
  padding-left: 10.19rem;
  padding-right: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
}

@media (max-width: 768px) {
  .container {
    padding-top: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
  }
}

.description-lines {
  font-family: sans-serif;
  font-size: 18.28px;
  font-weight: 590;
  line-height: 32px;
  letter-spacing: -0.4000000059604645px;
  text-align: left;
  display: inline-block;
}

@media (max-width: 768px) {
  .description-lines {
    font-family: sans-serif;
    font-size: 18.28px;
    font-weight: 590;
    line-height: 28px;
    letter-spacing: -0.4000000059604645px;
    text-align: left;
    display: inline-block;
    text-wrap: wrap;
  }
}
.button-text {
  font-size: 1.2rem;
}
.card-item-desc {
  font-family: sans-serif;
  font-size: 15.25px;
  font-weight: 590;
  line-height: 24px;
  letter-spacing: -0.3199999928474426px;
  text-align: left;
  margin-left: 5%;
  display: inline;
}
.card-item-title {
  font-family: sans-serif;
  font-size: 22.2px;
  font-weight: 860;
  line-height: 24.46px;
  letter-spacing: -0.4449999928474426px;
  margin-left: 5%;
  padding-bottom: 3%;
  text-align: left;
}
.cards-item {
  height: 213px;
  width: 95%;
  border: 1px solid;
  border-radius: 10px;
  background-color: #df1780;
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  justify-items: center;
  transition: width 0.5s ease;
}
.cards-list {
  height: 50%;
  width: 570px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.card-image {
  display: flex;
  align-items: center;
}
.description {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: space-evenly;
}
.card-item-desc-container {
  width: 75%;
}
.theme-light-gray {
  transition: all 1s ease;
  background-color: #d9d9d9;
}
.theme-black {
  transition: all 1s ease;
  background-color: black;
}
.circle-container {
  padding-left: 30px;
  padding-right: 30px;
}
.circle {
  border-radius: 50%;
  background-color: #df1780;
  width: 25.16px;
  height: 25.16px;
}
.subtitle-text-lines {
  color: white;
  font-family: sans-serif;
  font-size: 2.6rem;
  font-weight: 400;
  line-height: 1.98rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subtitle-text-lines span {
  opacity: 0;
  transition: opacity 0.5s ease;
}
.container {
  height: 400vh;
}
.card-animate {
  background-color: black;
  color: white;
  width: 100%;
}
.horizontal-item-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: left;
}
.horizontal {
  height: 400vw;
  max-width: 100vw;
}
.horizontal-list {
  height: 100vh;
  min-width: 400%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.1s;
}
.horizontal-item-text {
  padding-right: 10rem;
  display: flex;
  justify-items: center;
  align-items: center;
}
.horizontal-container {
  height: 100dvh;
}
.horizontal-content {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.hori-f1 {
  font-family: sans-serif;
  font-size: 11rem; /* Reduced from 212.12px */
  font-weight: 700;
  line-height: 9rem; /* Reduced from 173.72px */
  letter-spacing: -0.06em;
  text-align: center;
}

.hori-f2 {
  font-family: sans-serif;
  font-size: 2.6rem; /* Reduced from 53.45px */
  font-weight: 700;
  line-height: 3.5rem; /* Reduced from 50.78px */
  letter-spacing: -0.06em;
  text-align: center;
}

.hori-f3 {
  font-family: sans-serif;
  font-size: 9rem;
  font-weight: 700;
  line-height: 8rem;
  letter-spacing: -0.06em;
}

.horizontal-btn {
  position: absolute;
  left: 1%;
  top: 90%;
}
.hori-f4 {
  font-family: sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.3rem;
  letter-spacing: -0.06em;
  text-align: left;
}
.horizontal-item {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.horiztonal-desc {
  position: absolute;
  top: 15%;
  left: 30%;
}
.horizontal-imgs {
  z-index: 5;
}
.horizontal-img-cont1 {
  position: absolute;
  max-width: 50%;
  max-height: auto;
  top: 10%;
  left: 45%;
}
.horizontal-img-cont2 {
  position: absolute;
  max-width: 50%;
  max-height: auto;
  top: 50%;
  left: 25%;
}
.horizontal-img-cont3 {
  position: absolute;
  max-width: 50%;
  max-height: auto;
  top: 73%;
  left: 33%;
}
.horizontal-img-cont4 {
  position: absolute;
  max-width: 50%;
  max-height: auto;
  top: -3%;
  left: 36%;
}
.horizontal-img-cont5 {
  position: absolute;
  max-width: 50%;
  max-height: auto;
  top: 10%;
  left: 65%;
}
.horizontal-img-cont6 {
  position: absolute;
  max-width: 50%;
  max-height: auto;
  top: 60%;
  left: 55%;
}
.horizontal-img-cont7 {
  position: absolute;
  max-width: 50%;
  max-height: auto;
  top: 63%;
  left: 68%;
}
.horizontal-img-cont8 {
  position: absolute;
  max-width: 50%;
  max-height: auto;
  top: 77%;
  left: 62%;
}
.horiztonal-desc2 {
  position: absolute;
  top: 23%;
  left: 55%;
}
.horizontal-btn2 {
  position: absolute;
  left: 76%;
  top: 90%;
}

.animated-text {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.animated-text span {
  display: inline-block;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s;
}

.animated-text span.visible {
  transform: translateY(0);
  opacity: 1;
}

.footer-circular-text {
  transform-origin: 50% 50%;
  animation: footer-circular-text-animation 15s linear infinite; /* Rotate animation */
}

@keyframes footer-circular-text-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* AnimatedButton.css */
/* .animated-button {
  font-size: 24px;
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  overflow: hidden;
  position: relative;
} */

.animated-button span {
  display: inline-block;
  position: relative;
  animation-play-state: paused;
}

.animated-button:hover span {
  animation: move-up 0.3s forwards, move-down 0.3s forwards 0s;
  animation-play-state: running;
}

@keyframes move-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-125%);
  }
}

@keyframes move-down {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
